@model ProjerTGR_PFE_2016_Fin.Models.Corps

@{
    ViewBag.Title = "Details";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"> <i class="fa fa-align-justify" aria-hidden="true" style="margin-right:5px;"></i>Details</h4>
</div>
<div class="modal-body">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
     
        <table>
            <tr>
                <td class="display-label" id="td_label">@Html.DisplayNameFor(model => model.Num_corp):</td>
                <td class="display-field" id="td_out">@Html.DisplayFor(model => model.Num_corp)</td>
            </tr>
            <tr>
                <td class="display-label" id="td_label">@Html.DisplayNameFor(model => model.Nom_corp) :</td>
                <td class="display-field" id="td_out">@Html.DisplayFor(model => model.Nom_corp)</td>
            </tr>
            <tr>
                <td class="display-label" id="td_label">@Html.DisplayNameFor(model => model.Categorie.Nom_catg) :</td>
                <td class="display-field" id="td_out">@Html.DisplayFor(model => model.Categorie.Nom_catg) </td>
            </tr>

        </table>



       
    </fieldset>
    <div class="modal-footer">



        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      
    </div>

    }
    </div>
    

